.post-card {
    margin: 70px auto 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; 
    border-radius: 0;
}

.post-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-image {
    width: 60%; 
    height: auto;
    margin-bottom: 20px;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-card-data {
    display: flex;
    gap: 20px;
    color: #000;
}

.post-card-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-card-text p {
    width: 80%;
}